<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
<header>
  <div class="wrapper">
    <div class="logo-container">
      <img src="{{ '/assets/images/Heartland SEO.jpeg' | relative_url }}" alt="HeartlandSEO Logo" class="logo">
      <span class="company-name">HeartlandSEO</span>
    </div>
    <nav>
      <a href="#services">Services</a>
      <a href="#why-us">Why Us</a>
      <a href="#contact">Contact</a>
      <a href="#contact" class="cta-button">Get Started</a>
    </nav>
  </div>
</header>

    <main>
        {{ content }}
    </main>

    <footer>
        <div class="wrapper">
            <p>&copy; 2024 HeartlandSEO. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
